@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto',sans-serif;
}

canvas {
  border: 2px solid steelblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.toolbox {
  display: flex;
  width: 804px;
  padding: 1rem;
  background-color: steelblue;
  border: 1px solid #3d5eff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.toolbox > * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  font-size: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}

button:hover {
  color: red;
}

button:active {
  transform: scale(0.98);
}

@media (max-width: 845px) {
  canvas {
    width: 600px;
    height: 400px;
  }

  .toolbox {
    width: 600px;
  }
}

@media (max-width: 768px) {
  canvas {
    width: 500px;
    height: 300px;
  }
  .toolbox {
    width: 500px;
  }
  .toolbox>* {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
  }
}

@media (max-width: 540px) {
  canvas {
    width: 450px;
    height: 350px;
  }

  .toolbox {
    width: 450px;
  }
}

@media (max-width: 480px) {
  canvas {
    width: 350px;
    height: 250px;
  }

  .toolbox {
    width: 350px;
  }
}

@media (max-width: 420px) {
  canvas {
    width: 300px;
    height: 200px;
  }

  .toolbox {
    width: 300px;
  }
}